<mat-toolbar color="primary">
    <span>Weather App</span>
  </mat-toolbar>
  
  <form  [formGroup]="searchForm">
  <div>
   input:
   <div>
     <input   type="text" [(ngModel)]="inputText" formControlName="search" />
     </div>
     </div>
    <div>
    Input with  Autocomplete:
    <div>
     <input matInput (keyup)="onEnter($event)"  [matAutocomplete]="auto"  />
     <mat-autocomplete #auto = "matAutocomplete">
      <mat-option (onSelectionChange)="choose(item)" *ngFor="let item of keyword" value ="{{item.name}}" >{{item.name}}</mat-option>
     </mat-autocomplete>
   </div>
  </div>
     <button type="submit" [disabled]="!inputText"  (click)="searchCity()" >Submit </button>
  </form>